# local env files
.env.local
.env.*.local
.env.test

### Ingore idea ###
.idea/

### Ingore nova editor conf ###
.nova/

### Composer ###
composer.phar
/vendor/

### Vuejs ###
# Recommended template: Node.gitignore
client_credentials.json
_dev/apps/**/node_modules/
_dev/apps/node_modules/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn-error.log
yarn.lock
package-lock.json
.yarnclean

# CS Fixer
.php_cs.cache

### Vuejs ignore build files ###
/views/js/*.js
/views/img/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Config ###
config_fr.xml

#Terraform
cloud/.terraform*
cloud/gcp-token.json
gcp-token.json
cloud/.terraform.lock.hcl
cloud/.terraform/environment
.terraform
