#app.settings {
  .card-header,
  .card-header .card-header-title {
    font-weight: 600;
    line-height: 24px;
    line-height: 1.5rem;
  }

  .nav {
    background-color: white;
  }

  .card-header .main-header #header-search-container .input-group:before,
  .card-header .material-icons,
  .card-header .ps-tree-items .tree-name button:before,
  .main-header #header-search-container .card-header .input-group:before,
  .ps-tree-items .tree-name .card-header button:before {
    color: #6c868e;
  }

  .card-body {
    @apply tw-p-8;
  }

  .form-group.has-danger:after,
  .form-group.has-success:after,
  .form-group.has-warning:after {
    right: 10px;
  }

  .tab-content.tab-space {
    padding: 0.9375rem;
    background-color: #f1f1f1;
  }
}
