// colors
$white ?= #fff
$gray ?= #fcfcfc
$black ?= #011638

$primary ?= #ff0076
$info ?= $black
$warning ?= #faad14
$danger ?= #f5222d

$selection-color ?= $white
$selection-bg-color ?= $primary

$textColor ?= $black

$codeBlockBgColor ?= #282c34

$border-color ?= #DF0067
$divider-color ?= #DF0067

$link-color ?= #DF0067
$link-decoration ?= none
$link-hover-color ?= #DF0067
$link-hover-decoration ?= none

// font
$font-family-base ?= -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
  sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-family-monospace ?= "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace
$font-size-base ?= 14px
$line-height-base ?= 1.5

// grad
$grid-columns = 12
$grid-breakpoints = {
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
}

$container-max-widths = {
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
}

.nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-active{
  border-bottom: 2px solid #DF0067;
}

a.sidebar-link.active, a.sidebar-link:hover{
  color: #DF0067;
  border-left-color: #DF0067;
}

a {
    font-weight: 500;
    color: #DF0067;
    text-decoration: none;
}

.home .hero .action-button{
  background-color: #DF0067;
  border-bottom: 1px solid #389d70;
}

.home .hero .action-button:hover{
  background-color: #D01616;
  border-bottom: 1px solid #D01616;
}